html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    float: none;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.img_block {
    float: left;
    width: 70%;
    height: 600px;
    margin: 200px 0 0 15%;
}

#img_size {
    float: left;
    width: 100%;
    height: 500px;
}

#button_left {
    float: left;
    width: 50%;
    height: 100px;
    background-color: #1f2275;
    border-bottom-left-radius: 5px;
}

#button_left:hover, #button_right:hover {
    cursor: pointer;
    transition: 0.5s ease-in;
    background-color: #272a97;
}

#button_right {
    float: left;
    width: 50%;
    height: 100px;
    background-color: #1f2275;
    border-bottom-right-radius: 5px;
}

.inside_right {
    float: none;
    width: 70px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.inside_left {
    float: none;
    width: 70px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

.left {
    float: left;
    color: #1b2057;
    height: 100px;
    position: absolute;
    top: 60%;
    margin: -50px 0 0 0;
}